body
{
  font-family: "Arial";
  background-color: #d2f8d2;
}
.top{
  text-align: center;
   text-decoration-color: #ff0000;
}

.indiscipline{
  text-align: center;
}

.complaint{
  text-align: center;
}

.main{
  text-align: center;
}

.instructions{
  text-align: left;
  color: red;
}

h1{
  color: green;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
