body
{
  font-family: "Arial";
  background-color: #e6fff7;
}
.top{
  text-align: center;
  color: #ff0000;
}

.indiscipline{
  text-align: center;
}

.complaint{
  text-align: center;
  color: #5e73d1;
}

.main{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #ffffff;
  width: 75%;
}

.instructions{
  text-align: left;
  color: #ff0000;
}

h1{
  color: #447825;
}

h3{
  color: #3366ff;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
